<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">
      <img  id="profileImg" class="img-responsive"src="https://media.licdn.com/media/AAEAAQAAAAAAAAggAAAAJGU1ZTMzOWFhLThmNWMtNGI0OC05MzlkLTZiYzM2OTZlY2VmZA.jpg"/>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12">
      <h1 id="about">About Me</h1>
      <h3 id="aboutInfo">I am a self taught front-end developer who works with  html, css, javascript,  Jquery, bootstrap, Linux and angular </h3>
    </div>
  </div>
</div>