<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Car's Project</h1>
      <h3> The Place to get a 1st class car at 5% below msrp<h3>
      <button type="button" class="btn btn-success">
        <a href="http://zach-col.github.io/1-class-cars/index.html">
          Visit Site
        </a>
      </button>
    </div>

    <div class="col-lg-12">
        <img class="img-responsive projectImg" src="img/cars.png"/>
    </div>


  </div><!-- end of row -->
</div><!-- end of container -->