<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>The Ma's Cake's Project</h1>
      <h3>Ma's Cake's<h3>
      <button type="button" class="btn btn-success">
        <a href="https://zach-col.github.io/cakes/index.html">
          Visit Site
        </a>
      </button>
    </div>

    <div class="col-lg-12">
        <img class="img-responsive projectImg" src="img/cake.png"/>
    </div>


  </div><!-- end of row -->
</div><!-- end of container -->