<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Va Hackathon for Veterans with PTSD</h1>
      <h3>Va Hackathon for Veterans with PTSD<h3>
      <button type="button" class="btn btn-success">
        <a href="http://zach-col.github.io/Galvanize-Va-Site/">
          Visit Site
        </a>
      </button>
    </div>

    <div class="col-lg-12">
      <img class="img-responsive projectImg" src="img/vet.png"/>
    </div>


  </div><!-- end of row -->
</div><!-- end of container -->